$color-darkgray1: #111111;
$color-darkgray2: #1d1d1f;
$color-gray: #888888;
$color-white : #fff;
$color-offwhite: #f5f5f7;
$color-offwhite2: #fafafa;
$color-blue1: #007aff;
$color-blue2: #0070c9;
$color-blue3: #1786ff;
$color-graye7 :#e7e7e7;
$color-red :#f60b0b;
$color-red2 :#d01313;
$color-orange :#ed970f;
$color-lightgreen :#2dc293;
$color-grayee : #eeeef4;
$color-transparent : transparent;
$color-darkgray33: #333;
$color-black04: #040404;
$color-black18: #181818;
$color-black28: #28282a;
$color-black8c: #8c8c8c;
$color-yellow: #fbbe36;
$color-yellow2: #cf9312;
$background_color_1: #86868b;
$background_color_2: #dadadc;







/*.bg-darkgray{
    background-color: #111111 !important;
}
.bg-lightgray{
    background-color: #f5f5f7 !important;
}
.bg-blue{
    background-color: #007aff !important;
}

.text-darkgray {
    color: #111111 !important;
}
.text-gray {
    color: #1d1d1f !important;
}
.text-lightgray {
    color: #f5f5f7 !important;
}
.text-blue {
    color: #0070c9 !important;
}*/
