.content-wrapper {
	.content {
		padding: 40px 70px;
		@media (max-width:991px) {
			padding: 40px 15px;
		}
		@media (max-width:767px) {
			padding: 30px 15px;
		}
		.admin-main-title {
			font-size: 28px;
			font-weight: 400;
			@media (max-width:1440px) {
				font-size: 24px;
			}
			@media (max-width:991px) {
				font-size: 22px;
			}
			@media (max-width:767px) {
				font-size: 20px;
			}
		}
		.content-profile {
			.profile-circle {
				background-color: #fff;
				width: 100px;
				min-width: 100px;
				height: 100px;
				border-radius: 50%;
				@media (max-width:767px) {
					width: 80px;
					min-width: 80px;
					height: 80px;
				}
				img {
					@media (max-width:767px) {
						height: 80px;
					}
				}
			}
			.content-profile-info {
				h4 {
					font-size: 24px;
					color: #444444;
					@media (max-width:1366px) {
						font-size: 20px;
					}
					@media (max-width:991px) {
						font-size: 20px;
					}
					@media (max-width:767px) {
						font-size: 16px;
					}
				}
				p {
					font-size: 16px;
					color: #888888;
					@media (max-width:991px) {
						font-size: 14px;
					}
				}
				a {
					font-size: 17px;
					color: #007aff;
					font-weight: 500;
					@media (max-width:991px) {
						font-size: 14px;
					}
					&:hover{
						text-decoration: underline;
					}
				}
			} 
		}
		.box-body{ 
			background:#fff;
			padding:20px;
			border-radius:0;
		}
		.admin-box {
			.box-title {
				font-size: 26px;
				color: #444444;
				@media (max-width:1440px) {
					font-size: 20px;
				}
				@media (max-width:991px) {
					font-size: 20px;
				}
				@media (max-width:767px) {
					font-size: 18px;
				}
			}
			.border-bottom {
				border-color: rgba(0,0,0,0.05);
			}
			.account-setup {
				display: inline-flex;
				flex-direction: column;
				a {
					font-size: 20px;
					color: #007aff;
					margin-bottom: 20px;
					@media (max-width:1440px) {
						font-size: 16px;
						margin-bottom: 15px;
					}
					@media (max-width:991px) {
						font-size: 16px;
					}
					@media (max-width:767px) {
						font-size: 15px;
						margin-bottom: 10px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					span{
						&:hover{
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
