<% if current_user.present? %>
  <% if current_user.role.try(:name) == "superadmin" %>
    <header class="main-header">
      <!-- Sidebar toggle button-->
      <div class="logo">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle
            navigation</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top navbar-expand-md navbar-light">
        <h5 class="navbar-top-title text-darkgray1 fw-500 text-uppercase mb-0">
        </h5>
        <!--
    <div id="flashMessage">
      <%#= render 'layouts/flash_messages' %>
    </div>
    -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-ellipsis-v"></i>
          </span>
        </button>
        <!-- Navbar Right Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <!--
            <li class="nav-item dropdown">
              <a href="javascript:;" class="nav-link dropdown-toggle fw-500 d-flex align-items-center" data-toggle="dropdown">
                <%#= image_tag 'ic_language.svg', alt: "", class: "profile-circle nav-circie" %><span class="text-truncate-small">English (United States)</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">English (United States)</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="javascript:;" class="nav-link dropdown-toggle fw-500 d-flex align-items-center"
            data-toggle="dropdown">
              </a>
              <div class="dropdown-menu">
              </div>
            </li>
            -->
            <li class="nav-item dropdown">
              <a href="javascript:;" class="nav-link dropdown-toggle fw-500 d-flex align-items-center"
            data-toggle="dropdown">
                <div class="nav-circie d-flex align-items-center justify-content-center">
                  <%#= image_tag 'ic_info_header.svg', alt: "" %></div>
                Help
              </a>
              <div class="dropdown-menu">
                <div class="help d-flex justify-content-between">
                  <h6 class="mb-0">Help</h6>
                  <a class="text-blue2 text-uppercase py-0" href="#"><i class="fa fa-question-circle"></i> Browse Help</a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
              href=""><i
                class="fa fa-envelope mr-1"></i> Email Support</a>
              </div>
            </li>
            <%= link_to "sign_out", destroy_user_session_path, method: :delete %>
          </ul>
        </div>
      </nav>
    </header>
  <% end %>
<% end %>
