<!-- Left side column. -->
<aside class="main-sidebar">
  <div class="sidebar">
    <!--============= Admin Sidebar ========================-->
    <ul class="sidebar-menu">
      <li class="menu <%= active_menu_class(:dashboard) %>">
        <%= link_to root_path do %>
        <span>Dashboard</span>
        <% end %>
      </li>
    </ul>
    <!--============= End of Admin Sidebar ========================-->
  </div>
</aside>
<script type="text/javascript">
  // var currentActive = $('li.active');
  // if (currentActive.length == 0){
  //   $('li').last().addClass('active')
  // }
</script>